/* work sans font */

  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Open+Sans:wght@400;500;600&family=Work+Sans:wght@400;500;600;700;800&display=swap');

  *{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
 }
 
 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
    padding: 0px 150px 0px 150px;
   
 }
 nav ul li{
   margin-right: 35px;
 }
 nav>div{
   /* margin-right: 22px; */
 }
 .nav-left{
   /* justify-content: center; */
   display: flex;
   padding-top: 20px;
   /* flex-direction: row; */
   /* margin-right: 22px; */
}
.nav-title{
   font-size: 45px;
   font-weight: 700;
   /* padding-left: 25px; */
   
}
 .nav-right{
   display: flex;
   /* align-items: center; */
   /* margin-right: 32px; */

 }
  
 
 .follow-us{
    display: flex;
    /* flex-direction: ; */
    align-items: center;
    /* text-align: center; */
    /* justify-content: center; */
    background: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    padding-left: 25px;
 }
.icon{
   display: flex;
}
 
 
 
 .about-us {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 32px;
   
 }
 .dev{
   display: flex;
   /* justify-content: space-between; */
   text-decoration: none;
   font-size:18px;
   font-weight: 500;
   color: #3C354F;
 }
 li > a{
   text-decoration: none;
 }