/* work sans font */

  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Open+Sans:wght@400;500;600&family=Work+Sans:wght@400;500;600;700;800&display=swap');

  *{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
 }
  .body-padding{
    
  }
 .header-padding{
      padding: 0px 240px 0px 240px;
   }

 
 nav{
    display: flex;
    justify-content: space-between;
    background: #FFF;
    gap: 720px;
   }
   nav ul li{
   margin-right: 35px;
   }
 .nav-left{
   display: flex;
   padding-top: 20px;
   gap: 20px;
   }
.nav-title{
   font-size: 45px;
   font-weight: 700;
}
 .nav-right{
   display: flex;
   background: #FFF;
}
  
 
 .follow-us{
    display: flex;
    align-items: center;
    background: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    padding-left: 25px;
 }

 .icon{
   display: flex;
}
 
  .about-us {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 32px;
   }
 
   .dev{
   display: flex;
   text-decoration: none;
   font-size:18px;
   font-weight: 500;
   color: #3C354F;
 }
  
 li > a{
   text-decoration: none;
 }

 .banner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 375px;
  }
 .banner-content{
  font-style: normal;
  text-align: center;
  /* background-image: url("/images/Group 14.png"); */
  
  }
   
   .banner-image{
        
  }
  .banner-title-1{
    font-size: 48px;
    font-weight: 600;
    color: #0B0223;
}
   .banner-title-2{
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 20%, #8758F1 100%);
    background-clip: text ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-1{
    font-size: 20px;
    font-weight: 500;
  }
  .text-2{
    font-size: 20px;
    font-weight: 500;
  }
  .text-3{
    font-size: 20px;
    font-weight: 500;
  }

  .play{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .download{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .group{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .button-banner{
    gap: 80px;
   }
  
   .btn-1{
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    gap: 10px;
   }
   .btn-2{
      border-radius: 48px;
      background: #4EC5F7;
      font-size: 20px;
      font-weight: 600;
      padding: 21px 40px;
      gap: 10px;
   }

   .banner{
      
     }
    .banner-image{
      
     }
    
     .gamer{
        display: flex;
        justify-content: space-evenly ;
        background: linear-gradient(98deg, rgba(255,66,165,0.03)0%, rgba(255,66,165,0.03)100% );

    }
    .gamer-image{

    }
    .gamer-content{
         text-align: right;
    }
    .gamer-title{
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      background: linear-gradient(180deg,#F948B2 0%, #8758F1 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

    }
    .gamer-description{
        font-size: 18px;
        font-weight: 400;       
    }
    .gamer-button{
      border-radius: 48px;
      background: var(--linear, linear-gradient(98deg,#FF42A5 0%, #FF42A5 100% )) ;
      padding: 21px 48px;
      gap: 10px;
      display:inline-flex;
      align-items: flex-start;
      font-size: 20px;
      font-weight: 600;
    }
    .purpose{
      font-size: 24px;
      font-weight: 500;
    }
    .gamer-end{
        font-size: 32px;
        font-weight: 700;
    }
    /* online games funny videos section */
    .funny-video{
     
      padding: 100px 240px 100px 240px;
      
    }
    .funny-content{
     text-align: center;
    }
    .funny-title{
         font-size: 48px;
         font-weight: 700;
         padding-top: 100px;;
    }
    .color-title{
      background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .funny-text{
         font-size: 18px;
         font-weight: 400;
         line-height: 30px;

    }
    .funny-image{
        display: flex;
        justify-content: space-evenly;
        
        gap: 30px;
        padding-top:120px ;
        text-align: left;
       
    }

    
  .watch-now{
    /* justify-content: space-evenly; */
    position: relative;
    width: 100%;
    box-shadow: #3C354F;
  }
   .watch-now img{
    width: auto;
    height: auto;
   }
   .watch-now .btn{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    
    }
   .watch-now .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 500;
    color: deeppink;
   }
  .btn{
     background: none;
     
     border: 0px;
  }

/* horse rider section */


  .horse-rider{
   
  }
  .horse-angela{
   display:flex;
   justify-content: space-between;
   padding: 100px 240px 150px 240px;
  }
   .angela-content{
    display: block;
    justify-content: center;
    text-align: right;

   }
  .angela-title{
   
   font-size: 48px;
   font-weight: 700;
   line-height: 60px;
  }
  .play-instant{
      background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  .angela-text{
   
  }
  .parent{
    position: relative;
    top: 0;
    right: 0;
    
  } 
  
  .image-man{
    position: relative;
    top: 0;
    right: 0;
    width: 635px;
    height: 650px;
     }
  
  .image-woman{
    position: absolute;
    top: 380px;
    right: 380px;
    
    }


    

  /* play games online anywhere anytime section */

  
  .warior{
    
  }
  .warior-lady{
    display: flex;
    justify-content: space-between;

     padding: 100px 240px 10px 240px;
  }

  .parent-1{
    position: relative;
    top: 0;
    left: 0;
 
  }

  .image-lady{
    position: relative;
    top: 0;
    left: 0;
  
  }

  .image-girl{
     position: absolute;
     top: 360px;
     left: 470px;

  }
 


  .warior-content{

  }
  
  .warior-title{
    font-size:  48px;
    font-weight: 700;
    line-height: 60px;
  }
  
  .games-online{
     background: linear-gradient(180deg, #F948B2 0% #8758F1 100% );
     background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .warior-text{
     

  }




  /* careers section */

  .last-banner{
    display:flex;
    justify-content: space-between;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
   }
 
  .text{
    color:#FFF;
    
  }
  
  .paragraoh{
    text-align: left;
   
  }
    .list>div ul li{
      list-style: none;

    }
  .list{
    display:flex;
    justify-content: space-between;
    text-align: left;
  }
  .list-left ul li{
    display:block;
 
    
  }
  .list-right ul li{
    display: block;
    
  }
  .btn-position{
    border-radius: 48px;
    background: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    gap: 10px;
    border:0px;


    
    
  }
  span{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }

  /* roundphoto section */

  .round-photo{
   padding-top: 150px;
    height 100px;
  }

  .a {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0px 280px 0px 280px;
    
  }
  .b{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0px 340px 0px 340px;
  }


/* end section or footer */



  .end{
    display: flex;
    justify-content: center;
    height: 150px;;
  }
  .img-controll{

  }
  .link-tab{
    display: flex;
    justify-content: center;
  }
  .social-icon{
    display: flex;
    justify-content: center;
  }
  .terms{
    display: flex;
    justify-content: center;
  }
  .last-text{
    display: flex;
    justify-content: center;
  }




   /* smaller device */
   @media screen and (max-width: 576px)
   { nav .banner .gamer .funny {
    /* flex-direction: column; */

   }
   
   
    
     
     
   }
     
  
    /* medium device */

    @media screen and (min-width: 576px) and (max-width: 992px){

    }